<tr id="transaction-<%= transaktion.id %>">
  <td><%= transaktion.id %></td>
  <td><%= transaktion.product.name %></td>
  <td><%= transaktion.kind %></td>
  <td><%= transaktion.quantity %></td>
</tr>
