<div class="orders container-fluid">
  <%= form_for [@board, @order] do |f| %>
    <%= f.hidden_field :total %>
    <div class="row">
      <div class="col-sm-12">
        <div class="categories">
          <%= render 'categories/categories', categories: @categories, board: @board %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="menus">
          <%= render @menus, f: f %>
        </div>
        <div class="actions">
          <%= f.submit @order.persisted? ? 'Actualizar' : 'Crear', class: 'btn btn-primary' %>
          <%= link_to 'Cancelar', boards_path, class: 'btn btn-default' %>
          <%= link_to 'Cerrar', board_order_path(@board, @order, order: { status: :close }),
              method: :put, class: 'btn btn-success' if @order.persisted? %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class=order-list>
          <table id="picked-products" class="table">
            <thead>
              <tr>
                <th class="text-center">PRODUCTO</th>
                <th class="text-center">CANTIDAD</th>
                <th class="text-center">ELIMINAR</th>
              </tr>
            </thead>
            <tbody class="order-items">
              <%= f.fields_for :order_items do |ff| %>
                <%= render 'order_items/order_item_fields', { f: ff, menu: ff.object.menu } %>
              <% end %>
              <tr>
                <td></td>
                <td><strong>TOTAL:</strong></td>
                <td class="order-total">$<%= @order.total %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  new TakeAnOrder({ total: <%= @order.total.to_json %> });
</script>
